.ant-dropdown-menu-item {
  color: rgba(170, 170, 170, 1);
}
.ant-dropdown-menu-item-active {
  color: #fff;
}

.ant-menu-item {
  display: flex;
  align-items: center;
}

.ant-menu-submenu-title {
  display: flex;
  align-items: center;
}
